/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--first-font-family), sans-serif;
  letter-spacing: 0;
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.block {
  border: var(--block-border);
  inline-size: var(--block-width);
  background-color: var(--block-bg-color);
  line-height: var(--line-height-text);
}

.header {
  font-family: var(--secondary-font-family), sans-serif;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
  height: var(--header-height);
  line-height: 1;
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-size: var(--header-subtitle-font-size);
}

.main__content {
  display: grid;
  gap: 50px;
  margin-block-end: 50px;
}

.card__content-title {
  font-weight: var(--title-font-weight);
  line-height: var(--line-height-title);
}

.main__content-text {
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
  padding-block: 25px;
  gap: 25px;
}

.main__content-text-p {
  font-weight: var(--text-font-weight);
}

.card__content-img {
  position: relative;
}

.content__label {
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
  font-family: var(--secondary-font-family);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
}

@supports (text-stroke: 1px white) {
  .content__label {
    text-stroke: 1px white;
  }
}

.content-img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-bottom: var(--block-border);
  border-top: var(--block-border);
}

.card__content:nth-of-type(2) .img-filter-multiple {
  filter: grayscale(100%);
}

.card__content:nth-of-type(3) .img-filter-multiple {
  filter: sepia(100%);
}

.card__content:nth-of-type(4) .img-filter-multiple {
  filter: blur(2px);
}

.card__content:nth-of-type(5) .img-filter-multiple {
  filter: brightness(150%);
}

.card__content:nth-of-type(6) .img-filter-multiple {
  filter: contrast(150%);
}

.card__content:nth-of-type(7) .img-filter-multiple {
  filter: hue-rotate(90deg);
}

.card__content:nth-of-type(8) .img-filter-multiple {
  filter: saturate(200%) invert(20%);
}

.card-buttons {
  display: flex;
  justify-content: end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 12px;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: none;
  inline-size: 39px;
  block-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  border-radius: 0;
  outline: none;
  border: 2px solid var(--accent-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  border: var(--button-border);
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 14px;
  line-height: var(--line-height-button);
  position: relative;
  font-weight: 400;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: transparent;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.button-save {
  background-color: var(--block-bg-color);
  margin-block-end: 100px;
  inline-size: 335px;
  block-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: var(--button-border);
  padding: 0;
}

.icon-save {
  inline-size: 21px;
  block-size: 21px;
}

.dialog-save {
  padding: 0;
  border: var(--block-border);
  background-color: var(--block-bg-color);
  max-inline-size: 353px;
  inline-size: 100%;
  position: fixed;
  inset: 0;
  margin: auto;
}

.dialog-save:not([open]) {
  display: none;
}

.dialog-save::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog-save-diskette-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-save-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog-save-title {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--accent-color);
}

.button-dialog-save {
  inline-size: 100%;
}

@media (max-width: 375px) {
  .button.button-save {
    flex-direction: column;
  }
}
