/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  scroll-behavior: smooth;
  text-wrap: balance;
  font-family: var(--first-font-family, Inter), sans-serif;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight, 400);
  letter-spacing: 0;
  display: grid;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(
    --bg-gradient,
    repeating-linear-gradient(
      -90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
}

.block {
  border: var(--block-border, 2px solid #000);
  inline-size: var(
    --block-width,
    clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem)
  );
  background-color: var(--block-bg-color, #fff);
  line-height: var(--line-height-text, 21px);
}

.header {
  font-family: var(--secondary-font-family, PressStart2P), fantasy;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight, 400);
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
  height: var(--header-height, clamp(20.438rem, 19.535rem + 3.85vw, 23rem));
  line-height: 1;
}

.header__title {
  font-size: var(
    --header-title-font-size,
    clamp(3.0625rem, 2.1858rem + 4.2895vw, 4.0625rem)
  );
}

.header__subtitle {
  text-transform: uppercase;
  font-size: var(
    --header-subtitle-font-size,
    clamp(0.875rem, 0.3819rem + 2.4129vw, 1.4375rem)
  );
}

.main__content {
  display: grid;
  gap: 50px;
}

.card__content-title {
  display: flex;
  align-items: center;
  padding-inline-start: 10px;
  padding-block: 4px;
  font-size: var(--block-font-size, 18px);
  font-variation-settings: "wght" var(--title-font-weight, 715);
  font-weight: var(--title-font-weight, 715);
  line-height: var(--line-height-title, 100%);
}

.main__content-text {
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
  padding-block: 25px;
  gap: 25px;
}

.main__content-text-p {
  font-size: var(--block-font-size, 18px);
  line-height: var(--line-height-text, 21px);
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight);
}

.card__content-img {
  position: relative;
}

.content__label {
  text-shadow: 0 0 10px white;
  mix-blend-mode: hard-light;
  font-family: var(--secondary-font-family, PressStart2P), fantasy;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight, 400);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px white) or (text-stroke: 1px white) {
  .content__label {
    text-shadow: none;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
  }
}

.content-img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-bottom: var(--block-border);
  border-top: var(--block-border);
}

.img-filter-grayscale {
  filter: grayscale(100%);
}

.img-filter-sepia {
  filter: sepia(100%);
}

.img-filter-blur {
  filter: blur(2px);
}

.img-filter-brightness {
  filter: brightness(150%);
}
.img-filter-contrast {
  filter: contrast(150%);
}

.img-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.img-filter-multiple {
  filter: saturate(200%) invert(20%);
}

.card-buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 12px;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: none;
  inline-size: 36px;
  block-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid transparent;
}

.like-icon {
  inline-size: 39px;
  block-size: 100%;
}

.button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  border: var(--button-border, 2px solid #000);
  font-family: var(--secondary-font-family, PressStart2P), fantasy;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight, 400);
  font-size: 14px;
  line-height: var(--line-height-button, 90%);
  position: relative;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: transparent;
  mix-blend-mode: difference;
  white-space: nowrap;
}

.icon-save {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.button__save-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: fit-content;
  height: fit-content;
  margin-block-end: 100px;
}

.button.button-save {
  background-color: var(--block-bg-color, #fff);
  inline-size: 335px;
  block-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: var(--button-border, 2px solid #000);
  padding: 0;
  color: #fff;
}

.button__icon {
  inline-size: 21px;
  block-size: 21px;
  color: #000;

  z-index: 2;
  position: relative;
}

.dialog-save {
  padding: 0;
  border: var(--block-border, 2px solid #000);
  background-color: var(--block-bg-color, #fff);
  max-inline-size: 353px;
  inline-size: 100%;
  position: fixed;
  inset: 0;
  margin: auto;
}

.dialog-save:not([open]) {
  display: none;
}

.dialog-save::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog-save-diskette-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-save-icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog-save-title {
  font-family: var(--secondary-font-family, PressStart2P), fantasy;
  font-variation-settings: "wght" var(--text-font-weight, 410);
  font-weight: var(--text-font-weight, 400);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--accent-color, #000);
}

.button-dialog-save {
  text-transform: uppercase;
  inline-size: 100%;
}

@media (max-width: 375px) {
  .button.button-save {
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 17px;
    inline-size: 306px;
    block-size: 84px;
  }

  .icon-save {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog-save[open] {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}
