/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-color: #000;
  --first-font-family: Inter;
  --secondary-font-family: PressStart2P;
  --block-bg-color: #fff;
  --contour-color: #000;
  --fill-color: #ff0000;
  --title-color: #000;
  --block-border: 2px solid #000;
  --button-border: 2px solid #000;
  --main-text-color: #000;
  --bg-gradient: repeating-linear-gradient(
      -90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --header-title-font-size: clamp(3.0625rem, 2.1858rem + 4.2895vw, 4.0625rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.3819rem + 2.4129vw, 1.4375rem);
  --block-width: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --header-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  --header-font-weight: 400;
  --title-font-weight: 715;
  --text-font-weight: 410;
  --line-height-button: 90%;
  --line-height-text: 21px;
  --line-height-title: 100%;
  --block-font-size: 18px;
}
